---
# Конфигурация Clang-Tidy
Checks: >
  -*,
  bugprone-*,
  cppcoreguidelines-*,
  modernize-*,
  performance-*,
  readability-avoid-const-params-in-decls,
  readability-container-size-empty,
  readability-delete-null-pointer,
  readability-redundant-smartptr-get,
  readability-redundant-string-cstr

# Превращать все предупреждения в ошибки, чтобы CI падал при нарушениях
WarningsAsErrors: "*"

CheckOptions:
  - key:             cppcoreguidelines-special-member-functions.AllowMissingMoveFunctions
    value:           '1'
  - key:             modernize-use-trailing-return-type.IgnoreMacros
    value:           '1'

# Исключаем автогенерированные файлы
HeaderFilterRegex: 'src/.*'